<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Email-->
    <add key="SMTPHost" value="smtp.gmail.com" /> 
    <add key="SMTPUserName" value="integritysoftwaresinc@gmail.com" />
    <add key="SMTPPassword" value="test" />   
    <add key="SMTPMailTo" value="integritysoftwaresinc@gmail.com" />
    <add key="SMTPEnableSSL" value="true" />
    <add key="SMTPPort" value="587" />

    <add key="UseMinifyJs" value="true" />
    <add key="SendGridKey" value="" />
    <add key="SendGridFromMail" value="" />
    <add key="Name" value="Integrity Softwares Inc" />
    <add key="SortName" value="IS" />
    <add key="LogoURL" value="/Images/logo.png" />
    <add key="smallLogoURL" value="/Images/logo.png" />
    <add key="FaviconURL" value="" />
    <add key="SiteVersion" value="1.0" />
    <add key="Copyrights" value="2019" />
    <add key="DevelopedBy" value="Hiren Vekariya" />
    <add key="DevelopedByURL" value="https://www.hirenvekariya.com" />
    <add key="PageSize" value="10" />
    <add key="ContactEmail" value="inquiry@integritysoftwaresinc.com" />
    <add key="webURL" value="http://www.integritysoftwaresinc.com" />
    <!--<add key="ContactNo" value="+1(516)-445-0470" />-->
    <add key="ContactNo" value="+1(917)-496-9066" />
    <add key="FaceBookURL" value="https://www.facebook.com/Integritysoftwaresinc-105185664810587/" />
    <add key="InstagramURL" value="https://www.instagram.com/integrityincnyc/" />
    <add key="skypeId" value="Integritysoftwaresinc" />
    <add key="TwitterURL" value="https://twitter.com/integrityincnyc" />
    <add key="PinterestURL" value="https://www.pinterest.com/integrityincnyc/" />    
    <add key="LinkedINURL" value="https://www.linkedin.com/in/integrity-software-inc-037081202/" />
    <add key="GoogleURL" value="#" />
    <add key="Address1Line1" value="74-10 LITTLE NECK PARKWAY," />
    <add key="Address1Line2" value="GLEN OAKS, NY-11004." />
    <add key="IsMailSending" value="true" />
  </appSettings>
  
  <system.web>
    <trust level="Full" originUrl=""/>
    <customErrors mode="On" defaultRedirect="/Error"></customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <!--<system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      
    </staticContent>

  </system.webServer>
</configuration>