@{
    ViewBag.Title = "Career";
    ViewBag.canonical = IntegrityWeb.Constant.SiteConfigration.webURL + "/career";
}

<main class="site-main">

    <!-- Page Banner -->
    <div class="page-banner">
        <!-- Container -->
        <div class="container">
            <h3>BEST CAREER<span> OPPORTUNITIES</span></h3>
        </div><!-- Container /- -->
    </div><!-- Page Banner /- -->
    <!-- Services Section -->
    <div class="services-section services-style-2 sp-60 sb-90">
        <div class="srv-img">
            <img src="~/images/srv-img.png" alt="Services" />
        </div>
        <!-- Container -->
        <div class="container">
            <div class="">
                <div class="col-md-9 srv-right">
                    <!-- Section Header -->
                    <div class="section-header">
                        <h3>Why <span>Work</span> With Us?</h3>
                        <p>Here are main reason to work with integrity software Inc.</p>
                    </div>
                    <!-- Section Header /- -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="srv-box">
                                <i>01</i>
                                <h3>Team like no other</h3>
                                <p>Work with young, ambitious, creative and passionate people.</p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="srv-box">
                                <i>02</i>
                                <h3>Dynamic work environment</h3>
                                <p>With various projects and playful atmosphere you’ll never have a dull moment.</p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="srv-box">
                                <i>03</i>
                                <h3>Flexible work arrangements</h3>
                                <p>You can schedule your day to manage personal errands or work from home.</p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="srv-box">
                                <i>04</i>
                                <h3>Professional Development</h3>
                                <p>Further specialize in your field and broaden your knowledge of digital marketing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Row /- -->
        </div><!-- Container /- -->
    </div><!-- Services Section /- -->


    <div class="careerform-section gray_bg2 sb-60 sp-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 contact-form">
                    <div class="section-header">
                        <h3>Be a part of <span>Integrity Softwares Inc</span></h3>
                        <p>We will get back to you within in 24 hours.</p>
                    </div>
                    <form class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" placeholder="Name *" name="contact-name" id="input_name" />
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" placeholder="Email *" name="contact-email" id="input_email" />
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" placeholder="Position *" name="contact-website" id="input_Position" />
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="tel" class="form-control" placeholder="Phone Number*" name="contact-website" id="input_phone" />
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="file" class="form-control" placeholder="Phone Number*" name="contact-website" id="input_phone" />
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea class="form-control" placeholder="Message" name="textarea-message" id="textarea_message"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button id="btn_submit" name="submit" class="btn_default">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</main>