@{
    ViewBag.Title = "Portfolio";
    ViewBag.canonical = IntegrityWeb.Constant.SiteConfigration.webURL + "/portfolio";
}

<main class="site-main">

    <!-- Page Banner -->
    <div class="page-banner">
        <!-- Container -->
        <div class="container">
            <h3>Our <span>Portfolio</span></h3>
        </div><!-- Container /- -->
    </div><!-- Page Banner /- -->
    <!-- Portfolio Section -->
    <div class="portfolio-section portfolio-3-col sp-60 sb-60">
        <!-- Container -->
        <div class="container">
            <!-- Section Header -->
            <div class="section-header text-center">
                <h3>Explore Our Software Development Portfolio</h3>
                <p>Whether you are a small business or a large enterprise, we bring excellence, integrity, team spirit, and diverse skills to each project. Check out some of our projects below.</p>
            </div><!-- Section Header /- -->
            <!-- Gallery Filter -->
            <div class="portfolio-category">
                <ul id="filters">
                    <li><a class="active" data-filter="*" href="#" title="All">ALL</a></li>
                    <li><a data-filter=".web" href="#" title="Web">Web</a></li>
                    <li><a data-filter=".graphic" href="#" title="Graphic">Graphic</a></li>
                    <li><a data-filter=".app" href="#" title="App">App</a></li>
                    <li><a data-filter=".photography" href="#" title="development">Development</a></li>
                </ul>
            </div><!-- Gallery Filter /- -->
            <!-- Row -->
            <div class="row portfolio-list">
                <div class="col-sm-4 col-xs-6 portfolio-box web">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i><img src="~/images/portfolio-3-col-1.jpg" alt="Gallery" /></i>
                            <a href="images/portfolio-3-col-1.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 portfolio-box graphic">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i><img src="~/images/portfolio-3-col-2.jpg" alt="Gallery" /></i>
                            <a href="images/portfolio-3-col-2.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 portfolio-box app">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i><img src="~/images/portfolio-3-col-3.jpg" alt="Gallery" /></i>
                            <a href="images/portfolio-3-col-3.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 portfolio-box photography">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i><img src="~/images/portfolio-3-col-4.jpg" alt="Gallery" /></i>
                            <a href="images/portfolio-3-col-4.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 portfolio-box photography graphic">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i><img src="~/images/portfolio-3-col-5.jpg" alt="Gallery" /></i>
                            <a href="images/portfolio-3-col-5.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 portfolio-box web">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i><img src="~/images/portfolio-3-col-6.jpg" alt="Gallery" /></i>
                            <a href="images/portfolio-3-col-6.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 portfolio-box graphic">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i><img src="~/images/portfolio-3-col-2.jpg" alt="Gallery" /></i>
                            <a href="images/portfolio-3-col-2.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 portfolio-box app">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i><img src="~/images/portfolio-3-col-3.jpg" alt="Gallery" /></i>
                            <a href="images/portfolio-3-col-3.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 portfolio-box web">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i><img src="~/images/portfolio-3-col-1.jpg" alt="Gallery" /></i>
                            <a href="images/portfolio-3-col-1.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Container /- -->
    </div><!-- Portfolio Section /- -->


</main>